{% extends 'base.html' %} 
{% load hitcount_tags %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        {%if post.header_image %}
        <style>
          img {
            width: 400px;
            height: auto;
          }
        </style>
          <img src='{{post.header_image.url}}'>
        {%endif%}
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }} | {% get_hit_count for post %} views </p>
        <p class="card-text ">{{ object.content | safe }}</p>
        <a href="{% url 'home' %}" class ="btn btn-primary">Back &rarr;</a>
      </div>
      <br/>
      <h2>Comments...</h2>
      
      {%if not post.comments.all %}
        No Comments Yet...<a href="{% url 'add_comment' post.pk %}"class ="btn btn-primary">
        Add One</a>
      {%else%}
      <a href="{% url 'add_comment' post.pk %}"class ="btn btn-primary">Add Comment</a>
      <br/>
      

          {%for comment in post.comments.all%}
            <strong>{{comment.name}} -
            {{comment.created_on}}
            </strong>
            
            {{comment.body}}
          {% endfor %}
      {% endif %}
      <br/><br/>
      
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>


{% endblock content %}